/* <div class="spinner"></div> */

.spinner{
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-left-color: rgb(5, 238, 199);;
  
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin{
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }